<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%- appTitle %></title>
    <link rel="icon" type="image/png" href="<%- favicon %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="The New York Public Library">
    <meta property="og:description" content="The New York Public Library is an essential provider of free books, information, ideas, and education. It is the nation’s largest public library system, featuring 88 neighborhood branches throughout the Bronx, Manhattan, and Staten Island and four scholarly research centers.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://d140u095r09w96.cloudfront.net/sites/default/files/SASBopeng.jpg">
    <meta property="og:site_name" content="The New York Public Library">
    <meta property="og:url" content="https://www.nypl.org/">
    <meta name="twitter:title" content="The New York Public Library">
    <meta name="twitter:description" content="The New York Public Library is an essential provider of free books, information, ideas, and education.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@nypl">
    <meta name="twitter:creator" content="@nypl">
    <meta name="twitter:image" content="https://d140u095r09w96.cloudfront.net/sites/default/files/SASBopeng.jpg">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.3.15/slick.css" />

  <% if (isProduction) { %>
    <!-- Minified Styles -->
    <link rel="stylesheet" type="text/css" href="/styles.css">
  <% } %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<%- gaCode %>', 'auto');
    ga('send', 'pageview');
  </script>
  </head>
  <body>
    <%- app %>
    <script type='text/javascript'>
      var appEnv = "<%- appEnv %>";
    </script>

  <% if (isProduction) { %>
    <script async src="/bundle.js"></script>
  <% } else { %>
    <script src="http://localhost:3000/bundle.js"></script>
  <% } %>

    <!-- Optimizely -->
    <script src="https://cdn.optimizely.com/js/284748925.js"></script>
    <!-- Optimizely -->

    <!-- OptinMonster -->
    <div id="om-szvywxm4rovsmwxf-holder"></div>
    <script>
      var szvywxm4rovsmwxf,szvywxm4rovsmwxf_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){szvywxm4rovsmwxf_poll(function(){if(window['om_loaded']){if(!szvywxm4rovsmwxf){szvywxm4rovsmwxf=new OptinMonsterApp();return szvywxm4rovsmwxf.init({"u":"12468.442855","staging":0,"dev":0,"beta":0});}}},25);return;}var d=false,o=e.createElement(t);o.id=n,o.src="//a.optnmnstr.com/app/js/api.min.js",o.onload=o.onreadystatechange=function(){if(!d){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{d=om_loaded=true;szvywxm4rovsmwxf=new OptinMonsterApp();szvywxm4rovsmwxf.init({"u":"12468.442855","staging":0,"dev":0,"beta":0});o.onload=o.onreadystatechange=null;}catch(t){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}(document,"script","omapi-script");
    </script>
    <!-- / OptinMonster -->
  </body>
</html>
